body {
    background-color: #0c0916;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
}

.mygrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 24px;
}
progress {
    appearance: none;
    -ms-progress-appearance: none;
}
::-moz-progress-bar {
    background-color: #d9d9d98c;
    border-radius: 100px;
    height: 4px;
}
progress::-webkit-progress-bar {
    background-color: #d9d9d98c;
    border-radius: 100px;
    height: 4px;
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, #37c49f, #27e48c);
    border-radius: 100px;
}
